body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    background: linear-gradient(#6ec6ff, #4fa3ff, #2d6bba);
}

p {
    text-align: center;
}
.homepage-nav {
    display:flex;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
}

.homepage-nav a {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    color: #333;
    padding: 10px 18px;
    border-radius: 8px;
    transition: 0.2s ease;
    margin-bottom: 200px;
    margin-top: 100px;
}

.homepage-nav a:hover {
    background: rgba(255, 255, 255, 1);
}

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.heading {
    text-align: center;
    margin-bottom: 100px;
}

.randomquote {
    font-family: 'Press Start 2P', cursive;
    font-size: 1rem;
    font-weight: 700;
    color: #ffeb3b;
    text-shadow: rotate(-10deg);
    margin-top: 10px;
    animation: splashbounce 1.5s ease-in-out infinite;
    margin-top: 80px;
    margin-left: 30px;
}
@keyframes splashbounce {
    0% {transform: rotate(-10deg) scale(1);}
    50% {transform: rotate(-10deg) scale(1.08);}
    100% {transform: rotate(-10deg) scale(1);}
}

.introduction {
    text-align: center;
    margin-top: 80px;
}