body {
    background-color: burlywood;
}
h1, h2 {
    color: chocolate;
    font-family: 'Inter';
    text-align: center;
}
p {
    color: black;
    font-family: 'Inter';

}

.inputBox {
    display: flex;
    justify-content: center;
}
.weatherHeader {
    display: flex;
    justify-content: center;
}
.weatherOutput {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.errorOutput {
    display: flex;
    justify-content: center;
    color: red;
}

input[type="text"] {
    width: 280px;
    padding: 12px 16px;
    border: 2px solid #ddd
}

input[type="text"]:focus {
    border-color: chocolate;
    outline: none;
}

button[type="submit"] {
    background-image: url('/static/images/searchIcon.png');
    background-color: transparent;
    border: none;
    width: 40px;
    height: 40px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

}

.inputBox form {
    display: flex;
    align-items: center;
    background: white;
    border-radius: 20px;
    padding: 4px 8px;
    width: 300px;
}
.inputBox input {

    border: none;
    background: transparent;
    font-size: 16px;
    font-family: "Inter";
    padding: 8px;
    outline: none;
}

body.sunny {
    background-image: url('/static/images/sunny.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

body.clear {
    background-image: url('/static/images/clear.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat; 
}

body.partly-cloudy {
    background-image: url('/static/images/cloudy.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
}

body.cloudy {
    background-image: url('/static/images/cloudy.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
}

body.overcast {
    background-image: url('/static/images/overcast.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
}

body.light-rain {
    background-image: url('/static/images/rainy.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
}

body.light-snow {
    background-image: url('/static/images/snow.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
}

body.moderate-snow {
    background-image: url('/static/images/snow.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
}
