<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap">

        <title>Dashboard</title>
    </head>

    <body>
        <h1>--- Welcome {{user|capitalize}} --- </h1>
        <ul>
            <li><a href="/WeatherAppLoggedIn">Weather</a></li>
            <li><a href="/">Logout</a></li>
        </ul>

        <div class="WeatherHistory">
            <h2> {{current_user_name}} saved weather </h2>
                {% for entry in weather_history %}
                    <div class="history">
                        <form action="/Dashboard" method="POST">
                            <table class="weatherhistorytable">
                                <input type="hidden" name="action" value="delete">
                                <input type="hidden" name="entry_id" value="{{entry['entry_id']}}">
                                <tr>
                                    <th>City</th>
                                    <td>{{entry["city"]}}</td>
                                </tr>
                                <tr>
                                    <th>Condition</th>
                                    <td>{{entry["city_condition"]}}</td>
                                </tr>
                                <tr>
                                    <th>Temperature</th>
                                    <td>{{entry["city_temp_celsius"]}}</td>
                                </tr>
                                <tr>
                                    <th>Temperature feels like</th>
                                    <td>{{entry["city_temp_celsius_feels_like"]}}</td>
                                </tr>
                                <button type="submit" name="weather_id">-</button>
                            </table>
                        </form>
                    </div>
                {%endfor%}
        </div>
    </body>
</html>