<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap">

        <title>Dashboard</title>
    </head>

    <body>
        <h1>--- Welcome {{user|capitalize}} --- </h1>
        <ul>
            <li><a href="/WeatherAppLoggedIn">Weather</a></li>
            <li><a href="/">Logout</a></li>
        </ul>

        <div class="WeatherHistory">
            <h2> {{current_user_name}} saved weather </h2>
                {% for entry in weather_history %}
                    <div class="history">
                        <form action="/Dashboard" method="POST">
                            <table>
                                <input type="hidden" name="action" value="delete">
                                <input type="hidden" name="weather_id" value={{entry.id}}>
                                <p><strong>{{entry.city}}</strong></p>
                                <p>{{entry.condition}}</p>
                                <p>{{entry.temp_celsius}}, feels like: {{entry.temp_feels_like}}</p>
                                <button typp="submit" name={{entry.city}}>-</button>
                            </table>
                        </form>
                    </div>
                {%endfor%}
        </div>
    </body>
</html>