<!DOCTYPE html>

<html lang="en">
    <head>
        <link rel="stylesheet", href="{{url_for('static', filename='style.css')}}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap">

        <title>Homepage</title>
    </head>
    <body>
        <h1>HOME PAGE</h1>
        <nav>
            <ul>
                <li><a href="/WeatherApp">---WeatherApp---</a></li>
                <li><a href="/Login">---Login---</a></li>
                <li><a href="/SignUp">---Signup---</a></li>                
            </ul>
        </nav>
    </body>
</html>