<!DOCTYPE html>

<html lang="en">

<head>

    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap">
    <title>WeathePage</title>
</head>
<body class="{{city_condition|lower|replace(' ', '-')}}">

    <div class="weatherHeader">
        <h1>THE WONDEROUS WEATHER WEBPAGE</h1>
    </div>

    <div class="inputBox">  
        <form action="/WeatherApp" method="POST" class="weatherform">
            <input type="text" name="city" placeholder="Enter a city" required>
            <button type="submit" class="submitbtnWeather"></button>
        </form>
    </div>

    <div class="weatherOutput">
        {% if city_name %}
            <h2>Weather information for: {{city_name}}</h2>
            <p>Condition: {{city_condition}}</p>
            <p>Temperature: {{city_temp_celsius}}</p>
            <p>Temperature feels like: {{city_temp_feels_like}}</p>
        {% endif %}
    </div>

    <div class="errorOutput">
        {% if error_message %}
            <p> {{error_message}} </p>
        {%endif%}
    </div>

</body>
</html> 