<!DOCTYPE html>

<html lang="en">

<head>

    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap">
    <title>WeatherPage</title>
</head>
<body class="{{city_condition|lower|replace(' ', '-')}}">

    <div class="weatherHeader">
        <h1>---CURTIS' WONDEROUS WEATHER WEBPAGE---</h1>
    </div>

    <div class="inputBox">  
        <form action="/WeatherAppLoggedIn" method="POST" class="weatherform">
            <input type="text" name="city" placeholder="Enter a city" required>
            <button type="submit" class="submitbtnWeather"></button>
        </form>
    </div>


    <div class="weatherOutput">
        {% if city_name %}
            <h2>Weather information for: {{city_name}}</h2>

            <form action="/Dashboard" method="POST">
                <input type="hidden" name="action" value="add">
                <input type="hidden" name="city" value={{city_name}}>
                <input type="hidden" name="condition" value={{city_condition}}>
                <input type="hidden" name="temp_celsius" value={{city_temp_celsius}}>
                <input type="hidden" name="temp_celsius_feels_like" value={{city_temp_feels_like}}>
                <button type="submit" name="city_weather">+</button>
            </form>

            <table class="WeatherOutputTable">
                <tr>
                    <th>City</th>
                    <td>{{city_name}}</td>
                </tr>
                <tr>
                    <th>Condition</th>
                    <td>{{city_condition}}</td>
                </tr>
                <tr>
                    <th>Temperature</th>
                    <td>{{city_temp_celsius}}</td>
                </tr>
                <tr>
                    <th>Temperature feels like</th>
                    <td>{{city_temp_feels_like}}</td>
                </tr>
            </table>
        {% endif %}
    </div>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p> {{message}} </p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="errorOutput">
        {% if error_message %}
            <p> {{error_message}} </p>
        {%endif%}
    </div>

</body>
</html> 